.grayed a:link,a:visited,a:hover{
  color: rgb(21, 114, 12);
}

.grayed {
  background-color: rgb(245, 245, 245)
}

.row {
  display: inline;
}

h1,h2,h3,h4,h5,h6 {
  overflow-wrap: break-word;
}

h3 {
  margin-top: 3rem;
}

h4 {
  margin-top: 2rem;
  font-size: 1.1rem;
}

li {
  font-size: 20px;
}

hr.star-secondary {
  border-color: #2c3e50 !important;
}

hr.star-secondary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
      border-top-width: medium;
      border-top-style: none;
      border-top-color: currentcolor;
      border-right-color: currentcolor;
      border-bottom-color: currentcolor;
      border-left-color: currentcolor;
  border-top: solid 5px;
      border-top-color: currentcolor;
}

hr.star-secondary::after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 .25em;
  content: '\f005';
}

hr.star-secondary::after {
  color: #2c3e50;
  background-color: rgb(245, 245, 245)
}

.logo {
  width: 100px;
}

.img-inline-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}

.img-inline-height {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 450px;
  height: 100%;
}

.question {
  font-style: italic;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}

.map-form {
  text-align: center;
}

.year-input {
  width: 70%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.map {
  width: 100%;
  height: 500px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px; color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.grid {
  height: 500px;
  width: 100%;
}

.svg-container {
  width: 100%;
  text-align:center;
  line-height: 1;
  font-size: 5px;
}

.interactive-img {
  min-width: 300px;
  max-width: 49%;
}

.svg-image {
  height: 50px;
  width: 100px;
}
