.tableau {
  width:100%;
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:10px;
  margin-right: 10px;
}
.tableau caption {
  font-size:1.4rem;
  color:#FFFFFF;
  background-color: #329792;
  caption-side: top;
 /* caption-side: bottom; // top|bottom|initial|inherit; */
}
.tableau th {
  background-color:#87E1DC;
  color:#090808;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
}
.tableau td{
    margin-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.zebre tbody tr:nth-child(odd) {
  background-color: #DAE5E6;
  border-bottom:1px solid #ccc;
  color:#090606;
}
.zebre tbody tr:nth-child(even) {
  background-color: #BBC4C5;
  border-bottom:1px solid #ccc;
  color:#090606;
}
.tableau col:nth-child(1) {
  background-color:#A8B5A9;
  text-align:left;
}
.tableau col:nth-child(2) {
  background-color:#70B4E0;
  text-align:right;
}
.tableau td:nth-child(2) {
  text-align:right;
}
/*
.tableau th:first-child {
    border-top-left-radius: 20px;
}
.tableau th:last-child {
    border-top-right-radius: 20px;
}
.tableau tr:last-child td:first-of-type{
    border-bottom-left-radius: 20px;
}
.tableau tr:last-child td:last-of-type{
    border-bottom-right-radius: 20px;
}*/